.headers a {
    display: flex;
    justify-content: center;
}

.headers img {
    width: 73%;
}

.all-sections {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.medias {
    display: flex;
}

.next-child-medias {
    margin: 30px 0;
}

.social-medias {
    width: 80%;
}

.media-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-icons a img {
    width: 80%;
}

.last-child-medias {
    display: flex;
    justify-content: center;
}

.last-child-medias a {
    width: 93%;
}

.last-child-medias a img {
    width: 100%;
}